<div class="wrap">
    <!-- start jtinder container -->
    <div id="tinderslide">
        <ul>
            <li class="pane5" id="card">
                <div>
                    <iframe data-bind="attr: { src: widgetAudioUrl()} " style="display: none"></iframe>
                    <iframe data-bind="attr: { src: widgetUrl()} " width="300" height="380" frameborder="0" allowtransparency="true"></iframe>

                </div>
                <div class="like"></div>
                <div class="dislike"></div>
            </li>
        </ul>
    </div>
    <!-- end jtinder container -->
</div>

<div class="actions">
    <a href="#" class="dislike"><i></i></a>
    <a href="#" class="like"><i></i></a>
</div>

<div id="status"></div>

<script>
    require(["main", "ViewModel"], function (main, ViewModel) {
        var vm = new ViewModel.ViewModel();
        ko.applyBindings(vm);
    });
</script>
