
@*<iframe src="https://open.spotify.com/embed?uri=spotify%3Atrack%3A33Q6ldVXuJyQmqs8BmAa0k" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>*@

@*<iframe src="https://embed.spotify.com/?uri=spotify:track:3IRU7QgydvLdrRxZGZa4pL&amp;theme=white" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>*@


<div class="wrap">
    <!-- start jtinder container -->
    <div id="tinderslide">
        <ul>
            <li class="pane5">
                <div>
                    <iframe src="https://embed.spotify.com/?uri=spotify:track:02HZgK5YSCALhTkEw2x1va&amp;theme=white" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
                    @*<iframe src="https://p.scdn.co/mp3-preview/c8ebba8ecf446eb20da29714356e8ca418ccadfc?cid=996d0037680544c987287a9b0470fdbb"></iframe>*@
                </div>
                <div class="like"></div>
                <div class="dislike"></div>
            </li>
        </ul>
    </div>
    <!-- end jtinder container -->
</div>

<div class="actions">
    <a href="#" class="dislike"><i></i></a>
    <a href="#" class="like"><i></i></a>
</div>

<div id="status"></div>

<script>

    require(["main"], function (main) {
    });
</script>