@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>*@
@*<iframe src="https://open.spotify.com/embed?uri=spotify%3Atrack%3A33Q6ldVXuJyQmqs8BmAa0k" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>*@


<div class="wrap">
    <!-- start jtinder container -->
    <div id="tinderslide">
        <ul>
            <li class="pane1">
                <div class="img"></div>
                <div>Miami Beach</div>
                <div class="like"></div>
                <div class="dislike"></div>
            </li>
            <li class="pane2">
                <div class="img"></div>
                <div>San Francisco</div>
                <div class="like"></div>
                <div class="dislike"></div>
            </li>
            <li class="pane3">
                <div class="img"></div>
                <div>Chicago</div>
                <div class="like"></div>
                <div class="dislike"></div>
            </li>
            <li class="pane4">
                <div class="img"></div>
                <div>New York</div>
                <div class="like"></div>
                <div class="dislike"></div>
            </li>
            <li class="pane5" style="transform: translate(0px, 0px) rotate(0rad) skewX(0rad) scale(1, 1);">
                <div class="img"></div>
                <div>Beach</div>
                <div class="like" style="opacity: 0;"></div>
                <div class="dislike" style="opacity: 0;"></div>
            </li>
        </ul>
    </div>
    <!-- end jtinder container -->
</div>


<div class="actions">
    <a href="#" class="dislike"><i></i></a>
    <a href="#" class="like"><i></i></a>
</div>

<div id="status"></div>

<script>

    require(["main"], function (main) {
    });
</script>